flow.json
[
    {
        "id": "351f3381df38c0f3",
        "type": "group",
        "z": "905c94febbc42e67",
        "name": "Read envoy ",
        "style": {
            "label": true,
            "fill": "#bfdbef"
        },
        "nodes": [
            "813e886ac1b700f7",
            "2fd4172d0b60e371",
            "57516bafab82057b",
            "06b3b408436960c9",
            "a3c4125c716e9790",
            "7c8b8c70988ddeb8"
        ],
        "x": 96.57142639160156,
        "y": 174.4285888671875,
        "w": 3024,
        "h": 914
    },
    {
        "id": "813e886ac1b700f7",
        "type": "comment",
        "z": "905c94febbc42e67",
        "g": "351f3381df38c0f3",
        "name": "Connection to envoy failed. Request new sessionId",
        "info": "",
        "x": 418.57142639160156,
        "y": 601.4285888671875,
        "wires": []
    },
    {
        "id": "2fd4172d0b60e371",
        "type": "comment",
        "z": "905c94febbc42e67",
        "g": "351f3381df38c0f3",
        "name": "Feed the received token back",
        "info": "",
        "x": 1148.5714263916016,
        "y": 781.4285888671875,
        "wires": []
    },
    {
        "id": "57516bafab82057b",
        "type": "comment",
        "z": "905c94febbc42e67",
        "g": "351f3381df38c0f3",
        "name": "Feed the received sessionId back",
        "info": "",
        "x": 858.5714263916016,
        "y": 601.4285888671875,
        "wires": []
    },
    {
        "id": "06b3b408436960c9",
        "type": "group",
        "z": "905c94febbc42e67",
        "g": "351f3381df38c0f3",
        "name": "Login to Envoy with token to obtain sessionId",
        "style": {
            "fill": "#ffdf7f",
            "label": true
        },
        "nodes": [
            "2479611c2a0f3150",
            "f804c9c99201b2a3",
            "39dc35c82726a8e0",
            "fd80c391e7f54c68"
        ],
        "x": 122.57142639160156,
        "y": 640.4285888671875,
        "w": 852,
        "h": 82
    },
    {
        "id": "2479611c2a0f3150",
        "type": "switch",
        "z": "905c94febbc42e67",
        "g": "06b3b408436960c9",
        "name": "HTTP status code=200",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 638.5714263916016,
        "y": 681.4285888671875,
        "wires": [
            [
                "f804c9c99201b2a3"
            ],
            [
                "07587899caea0de0"
            ]
        ],
        "outputLabels": [
            "sessionID obtained",
            "error"
        ],
        "info": "When the envoy accepted the token it returns HTTP status code 200"
    },
    {
        "id": "f804c9c99201b2a3",
        "type": "change",
        "z": "905c94febbc42e67",
        "g": "06b3b408436960c9",
        "name": "save sessionID",
        "rules": [
            {
                "t": "set",
                "p": "sessionId",
                "pt": "flow",
                "to": "responseCookies.sessionId.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 868.5714263916016,
        "y": 681.4285888671875,
        "wires": [
            [
                "f37df996be12fd81"
            ]
        ]
    },
    {
        "id": "39dc35c82726a8e0",
        "type": "http request",
        "z": "905c94febbc42e67",
        "g": "06b3b408436960c9",
        "name": "auth/check_jwt",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://{{{envoyaddress}}}/auth/check_jwt",
        "tls": "f03098b9a0460f11",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Accept",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            },
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "other",
                "valueValue": "application/x-www-form-urlencoded"
            },
            {
                "keyType": "Cache-Control",
                "keyValue": "",
                "valueType": "no-cache",
                "valueValue": ""
            },
            {
                "keyType": "Authorization",
                "keyValue": "",
                "valueType": "msg",
                "valueValue": "authorization"
            }
        ],
        "x": 428.57142639160156,
        "y": 681.4285888671875,
        "wires": [
            [
                "2479611c2a0f3150"
            ]
        ],
        "info": "Envoy returns a sessionId when the Bearer token is accepted. The sessionId can be used to make API calls"
    },
    {
        "id": "fd80c391e7f54c68",
        "type": "function",
        "z": "905c94febbc42e67",
        "g": "06b3b408436960c9",
        "name": "set authorization",
        "func": "msg.authorization = \"Bearer \" + (msg.token||flow.get('Enphase_local_token'));\n\n// Set node status to show date time last called into action\nlet d=new Date();\nnode.status({text:d.toISOString().split('T')[0]+\" \"+d.toTimeString().split(\" \")[0]});\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 238.57142639160156,
        "y": 681.4285888671875,
        "wires": [
            [
                "39dc35c82726a8e0"
            ]
        ]
    },
    {
        "id": "f03098b9a0460f11",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "a3c4125c716e9790",
        "type": "group",
        "z": "905c94febbc42e67",
        "g": "351f3381df38c0f3",
        "name": "Read Envoy using sessionId",
        "style": {
            "fill": "#c8e7a7",
            "label": true
        },
        "nodes": [
            "1fcda1179af1491f",
            "f0df4fdaba802dc8",
            "7b870980f8b7c8dc",
            "d37d7b9c4fd85807",
            "af2e091e3afe2a62",
            "5989ae16fc634c1a",
            "cae0cfc8f7ddd307",
            "1cdae3f8ed4ca9aa",
            "922dce4ef02240e0",
            "c8bfe7163b551225",
            "5a872cdec8eb0607",
            "cafe254503f4f0be",
            "a0b6773bcabe207e",
            "407ca72d01d6daed",
            "f37df996be12fd81",
            "73abf76df46db5f0",
            "44a8f04441ec859e",
            "ecf4fd1c520bb3ad",
            "199bd00a18a19a08",
            "9bef999ca6abb23e",
            "d55e19078ed82bb4",
            "fd9d0b5a2b3402a4"
        ],
        "x": 122.57142639160156,
        "y": 200.4285888671875,
        "w": 2092,
        "h": 362
    },
    {
        "id": "1fcda1179af1491f",
        "type": "http request",
        "z": "905c94febbc42e67",
        "g": "a3c4125c716e9790",
        "name": "production.json",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://{{{envoyaddress}}}/production.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1568.5714263916016,
        "y": 461.4285888671875,
        "wires": [
            [
                "cae0cfc8f7ddd307",
                "d37d7b9c4fd85807"
            ]
        ]
    },
    {
        "id": "f0df4fdaba802dc8",
        "type": "inject",
        "z": "905c94febbc42e67",
        "g": "a3c4125c716e9790",
        "name": "Envoy address",
        "props": [
            {
                "p": "envoyaddress",
                "v": "192.168.xx.yy",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 248.57142639160156,
        "y": 401.4285888671875,
        "wires": [
            [
                "922dce4ef02240e0"
            ]
        ]
    },
    {
        "id": "7b870980f8b7c8dc",
        "type": "switch",
        "z": "905c94febbc42e67",
        "g": "a3c4125c716e9790",
        "name": "HTTP status code=200",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1218.5714263916016,
        "y": 401.4285888671875,
        "wires": [
            [
                "1fcda1179af1491f",
                "5989ae16fc634c1a",
                "44a8f04441ec859e",
                "199bd00a18a19a08",
                "9bef999ca6abb23e"
            ],
            [
                "fd80c391e7f54c68"
            ]
        ],
        "outputLabels": [
            "succes",
            "error"
        ],
        "info": "When the envoy accepted the token it returns HTTP status code 200"
    },
    {
        "id": "d37d7b9c4fd85807",
        "type": "rbe",
        "z": "905c94febbc42e67",
        "g": "a3c4125c716e9790",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 1758.5714263916016,
        "y": 461.4285888671875,
        "wires": [
            [
                "c8bfe7163b551225"
            ]
        ]
    },
    {
        "id": "af2e091e3afe2a62",
        "type": "rbe",
        "z": "905c94febbc42e67",
        "g": "a3c4125c716e9790",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 1958.5714263916016,
        "y": 521.4285888671875,
        "wires": [
            [
                "5a872cdec8eb0607"
            ]
        ]
    },
    {
        "id": "5989ae16fc634c1a",
        "type": "rbe",
        "z": "905c94febbc42e67",
        "g": "a3c4125c716e9790",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 1538.5714263916016,
        "y": 401.4285888671875,
        "wires": [
            [
                "1cdae3f8ed4ca9aa"
            ]
        ]
    },
    {
        "id": "cae0cfc8f7ddd307",
        "type": "http request",
        "z": "905c94febbc42e67",
        "g": "a3c4125c716e9790",
        "name": "api/v1/production",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://{{{envoyaddress}}}/api/v1/production",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1798.5714263916016,
        "y": 521.4285888671875,
        "wires": [
            [
                "af2e091e3afe2a62"
            ]
        ]
    },
    {
        "id": "1cdae3f8ed4ca9aa",
        "type": "debug",
        "z": "905c94febbc42e67",
        "g": "a3c4125c716e9790",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1728.5714263916016,
        "y": 401.4285888671875,
        "wires": []
    },
    {
        "id": "922dce4ef02240e0",
        "type": "time-switch",
        "z": "905c94febbc42e67",
        "g": "a3c4125c716e9790",
        "name": "",
        "lat": "0",
        "lon": "0",
        "startTime": "sunrise",
        "endTime": "dusk",
        "startOffset": "",
        "endOffset": "",
        "x": 428.57142639160156,
        "y": 401.4285888671875,
        "wires": [
            [
                "f37df996be12fd81"
            ],
            []
        ]
    },
    {
        "id": "c8bfe7163b551225",
        "type": "debug",
        "z": "905c94febbc42e67",
        "g": "a3c4125c716e9790",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1928.5714263916016,
        "y": 461.4285888671875,
        "wires": []
    },
    {
        "id": "5a872cdec8eb0607",
        "type": "debug",
        "z": "905c94febbc42e67",
        "g": "a3c4125c716e9790",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2108.5714263916016,
        "y": 521.4285888671875,
        "wires": []
    },
    {
        "id": "cafe254503f4f0be",
        "type": "comment",
        "z": "905c94febbc42e67",
        "g": "a3c4125c716e9790",
        "name": "Source2",
        "info": "https://support.enphase.com/s/question/0D53m00008ketz6CAA/i-have-a-new-enphase-system-and-reading-my-envoy-using-the-local-api-this-goes-well-for-one-endpoint-but-not-for-another?t=1678709630042\n\nBased on post:\nKneib_3226\nEdited February 24, 2023 at 10:35 AM",
        "x": 368.57142639160156,
        "y": 321.4285888671875,
        "wires": []
    },
    {
        "id": "a0b6773bcabe207e",
        "type": "comment",
        "z": "905c94febbc42e67",
        "g": "a3c4125c716e9790",
        "name": "Source1",
        "info": "https://github.com/H4nsie/EnphaseEnvoy/blob/main/plugin.py",
        "x": 228.57142639160156,
        "y": 321.4285888671875,
        "wires": []
    },
    {
        "id": "407ca72d01d6daed",
        "type": "comment",
        "z": "905c94febbc42e67",
        "g": "a3c4125c716e9790",
        "name": "Source3",
        "info": "https://enphase.com/download/iq-gateway-local-apis-or-ui-access-using-token",
        "x": 508.57142639160156,
        "y": 321.4285888671875,
        "wires": []
    },
    {
        "id": "f37df996be12fd81",
        "type": "change",
        "z": "905c94febbc42e67",
        "g": "a3c4125c716e9790",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "cookies",
                "pt": "msg",
                "to": "{\"sessionId\": ($exists($flowContext('sessionId')) ? $flowContext('sessionId') : 0)}\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "rejectUnauthorized",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 688.5714263916016,
        "y": 401.4285888671875,
        "wires": [
            [
                "73abf76df46db5f0"
            ]
        ]
    },
    {
        "id": "73abf76df46db5f0",
        "type": "http request",
        "z": "905c94febbc42e67",
        "g": "a3c4125c716e9790",
        "name": "api/v1/production/inverters",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://{{{envoyaddress}}}/api/v1/production/inverters",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Accept",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            },
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "other",
                "valueValue": "application/x-www-form-urlencoded"
            },
            {
                "keyType": "Cache-Control",
                "keyValue": "",
                "valueType": "no-cache",
                "valueValue": ""
            }
        ],
        "x": 948.5714263916016,
        "y": 401.4285888671875,
        "wires": [
            [
                "7b870980f8b7c8dc"
            ]
        ]
    },
    {
        "id": "44a8f04441ec859e",
        "type": "http request",
        "z": "905c94febbc42e67",
        "g": "a3c4125c716e9790",
        "name": "ivp/pdm/energy",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://{{{envoyaddress}}}/ivp/pdm/energy",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Accept",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            },
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "other",
                "valueValue": "application/x-www-form-urlencoded"
            },
            {
                "keyType": "Cache-Control",
                "keyValue": "",
                "valueType": "no-cache",
                "valueValue": ""
            }
        ],
        "x": 1568.5714263916016,
        "y": 341.4285888671875,
        "wires": [
            [
                "ecf4fd1c520bb3ad"
            ]
        ]
    },
    {
        "id": "ecf4fd1c520bb3ad",
        "type": "debug",
        "z": "905c94febbc42e67",
        "g": "a3c4125c716e9790",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1848.5714263916016,
        "y": 321.4285888671875,
        "wires": []
    },
    {
        "id": "199bd00a18a19a08",
        "type": "http request",
        "z": "905c94febbc42e67",
        "g": "a3c4125c716e9790",
        "name": "ivp/meters",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://{{{envoyaddress}}}/ivp/meters",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Accept",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            },
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "other",
                "valueValue": "application/x-www-form-urlencoded"
            },
            {
                "keyType": "Cache-Control",
                "keyValue": "",
                "valueType": "no-cache",
                "valueValue": ""
            }
        ],
        "x": 1558.5714263916016,
        "y": 301.4285888671875,
        "wires": [
            [
                "d55e19078ed82bb4"
            ]
        ]
    },
    {
        "id": "9bef999ca6abb23e",
        "type": "http request",
        "z": "905c94febbc42e67",
        "g": "a3c4125c716e9790",
        "name": "ivp/ensemble/device_list",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://{{{envoyaddress}}}/ivp/ensemble/device_list",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Accept",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            },
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "other",
                "valueValue": "application/x-www-form-urlencoded"
            },
            {
                "keyType": "Cache-Control",
                "keyValue": "",
                "valueType": "no-cache",
                "valueValue": ""
            }
        ],
        "x": 1598.5714263916016,
        "y": 261.4285888671875,
        "wires": [
            [
                "fd9d0b5a2b3402a4"
            ]
        ]
    },
    {
        "id": "d55e19078ed82bb4",
        "type": "debug",
        "z": "905c94febbc42e67",
        "g": "a3c4125c716e9790",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1848.5714263916016,
        "y": 281.4285888671875,
        "wires": []
    },
    {
        "id": "fd9d0b5a2b3402a4",
        "type": "debug",
        "z": "905c94febbc42e67",
        "g": "a3c4125c716e9790",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1848.5714263916016,
        "y": 241.4285888671875,
        "wires": []
    },
    {
        "id": "7c8b8c70988ddeb8",
        "type": "group",
        "z": "905c94febbc42e67",
        "g": "351f3381df38c0f3",
        "name": "Request token from Enphase",
        "style": {
            "fill": "#ffbfbf",
            "label": true
        },
        "nodes": [
            "9f5ff7700feba3cd",
            "6f29d66f817f3d6e",
            "f80868eaf5ebcb76",
            "d10aa11f3d3e155d",
            "3033800ac69bae40",
            "78c4f8109cbfa79b",
            "f22473191ddb8677",
            "5ebd101aa0d8873d",
            "07587899caea0de0",
            "1299883c8afe38ce",
            "6795b049999a601e",
            "527035168cdbc80c",
            "47b278962c46db9a",
            "5bb0e47b3448324c",
            "e35bb79b1a6ad68b",
            "cdea3e93e910c319",
            "9d5f2dfdc8978f91",
            "9a9fb3fcee95bd93",
            "fb3df888c89ed460"
        ],
        "x": 122.57142639160156,
        "y": 780.4285888671875,
        "w": 2972,
        "h": 282
    },
    {
        "id": "9f5ff7700feba3cd",
        "type": "http request",
        "z": "905c94febbc42e67",
        "g": "7c8b8c70988ddeb8",
        "name": "info.xml",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://{{{envoyaddress}}}/info.xml",
        "tls": "f03098b9a0460f11",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 488.57142639160156,
        "y": 921.4285888671875,
        "wires": [
            [
                "f80868eaf5ebcb76"
            ]
        ]
    },
    {
        "id": "6f29d66f817f3d6e",
        "type": "xml",
        "z": "905c94febbc42e67",
        "g": "7c8b8c70988ddeb8",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 858.5714263916016,
        "y": 921.4285888671875,
        "wires": [
            [
                "462bf780289695fc"
            ]
        ]
    },
    {
        "id": "f80868eaf5ebcb76",
        "type": "switch",
        "z": "905c94febbc42e67",
        "g": "7c8b8c70988ddeb8",
        "name": "HTTP status code=200",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 678.5714263916016,
        "y": 921.4285888671875,
        "wires": [
            [
                "6f29d66f817f3d6e"
            ],
            [
                "9d5f2dfdc8978f91"
            ]
        ],
        "outputLabels": [
            "success",
            "error"
        ],
        "info": "When the envoy accepted the token it returns HTTP status code 200"
    },
    {
        "id": "d10aa11f3d3e155d",
        "type": "http request",
        "z": "905c94febbc42e67",
        "g": "7c8b8c70988ddeb8",
        "name": "enlighten.enphaseenergy.com/login/login.json",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://enlighten.enphaseenergy.com/login/login.json",
        "tls": "f03098b9a0460f11",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "User-Agent",
                "keyValue": "",
                "valueType": "Mozilla/5.0",
                "valueValue": ""
            },
            {
                "keyType": "Accept",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            },
            {
                "keyType": "Cache-Control",
                "keyValue": "",
                "valueType": "no-cache",
                "valueValue": ""
            },
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "other",
                "valueValue": "application/x-www-form-urlencoded"
            }
        ],
        "x": 1568.5714263916016,
        "y": 921.4285888671875,
        "wires": [
            [
                "f22473191ddb8677"
            ]
        ]
    },
    {
        "id": "3033800ac69bae40",
        "type": "http request",
        "z": "905c94febbc42e67",
        "g": "7c8b8c70988ddeb8",
        "name": "entrez.enphaseenergy.com/tokens",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://entrez.enphaseenergy.com/tokens",
        "tls": "f03098b9a0460f11",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "User-Agent",
                "keyValue": "",
                "valueType": "Mozilla/5.0",
                "valueValue": ""
            }
        ],
        "x": 2368.5714263916016,
        "y": 921.4285888671875,
        "wires": [
            [
                "5ebd101aa0d8873d"
            ]
        ]
    },
    {
        "id": "78c4f8109cbfa79b",
        "type": "group",
        "z": "905c94febbc42e67",
        "g": "7c8b8c70988ddeb8",
        "name": "",
        "style": {
            "fill": "#ffff00",
            "label": true
        },
        "nodes": [
            "462bf780289695fc"
        ],
        "x": 922.5714263916016,
        "y": 880.4285888671875,
        "w": 232,
        "h": 82
    },
    {
        "id": "462bf780289695fc",
        "type": "change",
        "z": "905c94febbc42e67",
        "g": "78c4f8109cbfa79b",
        "name": "Login credentials",
        "rules": [
            {
                "t": "set",
                "p": "username",
                "pt": "msg",
                "to": "john.doe@example.com",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "password",
                "pt": "msg",
                "to": "VeryStrongPassword",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1038.5714263916016,
        "y": 921.4285888671875,
        "wires": [
            [
                "47b278962c46db9a"
            ]
        ]
    },
    {
        "id": "f22473191ddb8677",
        "type": "switch",
        "z": "905c94febbc42e67",
        "g": "7c8b8c70988ddeb8",
        "name": "HTTP status code=200",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1878.5714263916016,
        "y": 921.4285888671875,
        "wires": [
            [
                "527035168cdbc80c"
            ],
            [
                "9a9fb3fcee95bd93"
            ]
        ],
        "outputLabels": [
            "success",
            "error"
        ],
        "info": "When the envoy accepted the token it returns HTTP status code 200"
    },
    {
        "id": "5ebd101aa0d8873d",
        "type": "switch",
        "z": "905c94febbc42e67",
        "g": "7c8b8c70988ddeb8",
        "name": "HTTP status code=200",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 2638.5714263916016,
        "y": 921.4285888671875,
        "wires": [
            [
                "6795b049999a601e"
            ],
            [
                "fb3df888c89ed460"
            ]
        ],
        "outputLabels": [
            "success",
            "error"
        ],
        "info": "When the envoy accepted the token it returns HTTP status code 200"
    },
    {
        "id": "07587899caea0de0",
        "type": "function",
        "z": "905c94febbc42e67",
        "g": "7c8b8c70988ddeb8",
        "name": "Limit request rate to twice a day",
        "func": "var interval = (1000*60*60*12); // minimum interval between messages (ms)\nvar lastReleased = context.get('LastTime') || 0;\nvar now = Date.now();\n\n// Set node status to show date time last called into action\nlet d=new Date();\nnode.status({text:d.toISOString().split('T')[0]+\" \"+d.toTimeString().split(\" \")[0]});\n\nif (now-lastReleased > interval) {\n  context.set('LastTime',now);\n  return msg;\n} else {\n  return null;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 278.57142639160156,
        "y": 921.4285888671875,
        "wires": [
            [
                "9f5ff7700feba3cd"
            ]
        ],
        "info": "https://flows.nodered.org/flow/9410e4cebcc4b68fae73"
    },
    {
        "id": "1299883c8afe38ce",
        "type": "junction",
        "z": "905c94febbc42e67",
        "g": "7c8b8c70988ddeb8",
        "x": 148.57142639160156,
        "y": 921.4285888671875,
        "wires": [
            []
        ]
    },
    {
        "id": "6795b049999a601e",
        "type": "change",
        "z": "905c94febbc42e67",
        "g": "7c8b8c70988ddeb8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Enphase_local_token",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2938.5714263916016,
        "y": 921.4285888671875,
        "wires": [
            [
                "fd80c391e7f54c68"
            ]
        ]
    },
    {
        "id": "527035168cdbc80c",
        "type": "change",
        "z": "905c94febbc42e67",
        "g": "7c8b8c70988ddeb8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"session_id\": msg.payload.session_id,\t    \"serial_num\": msg.serialnumber,\t    \"username\": msg.username\t}",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "username",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2108.5714263916016,
        "y": 921.4285888671875,
        "wires": [
            [
                "3033800ac69bae40"
            ]
        ]
    },
    {
        "id": "47b278962c46db9a",
        "type": "change",
        "z": "905c94febbc42e67",
        "g": "7c8b8c70988ddeb8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "serialnumber",
                "pt": "msg",
                "to": "payload.envoy_info.device[0].sn[0]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"user[email]\": msg.username,\t    \"user[password]\": msg.password\t}",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "password",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1268.5714263916016,
        "y": 921.4285888671875,
        "wires": [
            [
                "d10aa11f3d3e155d"
            ]
        ]
    },
    {
        "id": "5bb0e47b3448324c",
        "type": "comment",
        "z": "905c94febbc42e67",
        "g": "7c8b8c70988ddeb8",
        "name": "Login to Envoy has failed. Request new token from Enphase",
        "info": "",
        "x": 388.57142639160156,
        "y": 821.4285888671875,
        "wires": []
    },
    {
        "id": "e35bb79b1a6ad68b",
        "type": "inject",
        "z": "905c94febbc42e67",
        "g": "7c8b8c70988ddeb8",
        "name": "Envoy address ",
        "props": [
            {
                "p": "envoyaddress",
                "v": "192.168.xx.yy",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "00 04 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 248.57142639160156,
        "y": 981.4285888671875,
        "wires": [
            [
                "9f5ff7700feba3cd"
            ]
        ],
        "info": "Daily new token request"
    },
    {
        "id": "cdea3e93e910c319",
        "type": "comment",
        "z": "905c94febbc42e67",
        "g": "7c8b8c70988ddeb8",
        "name": "Daily request for new Token",
        "info": "By requesting a new token on a daily basis the system will remain working for 1 year after problems/changes at Enphase.",
        "x": 288.57142639160156,
        "y": 1021.4285888671875,
        "wires": []
    },
    {
        "id": "9d5f2dfdc8978f91",
        "type": "debug",
        "z": "905c94febbc42e67",
        "g": "7c8b8c70988ddeb8",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 868.5714263916016,
        "y": 1001.4285888671875,
        "wires": []
    },
    {
        "id": "9a9fb3fcee95bd93",
        "type": "debug",
        "z": "905c94febbc42e67",
        "g": "7c8b8c70988ddeb8",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2088.5714263916016,
        "y": 1001.4285888671875,
        "wires": []
    },
    {
        "id": "fb3df888c89ed460",
        "type": "debug",
        "z": "905c94febbc42e67",
        "g": "7c8b8c70988ddeb8",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2908.5714263916016,
        "y": 1001.4285888671875,
        "wires": []
    },
    {
        "id": "a78351c804ce78a7",
        "type": "group",
        "z": "905c94febbc42e67",
        "name": "Decode JWT token",
        "style": {
            "label": true
        },
        "nodes": [
            "97f390218231909c",
            "3b7064972c981e0d",
            "cbc5aacfe7c31bb6",
            "7044fad7b810abcd"
        ],
        "x": 94,
        "y": 1119,
        "w": 532,
        "h": 142
    },
    {
        "id": "97f390218231909c",
        "type": "inject",
        "z": "905c94febbc42e67",
        "g": "a78351c804ce78a7",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 1220,
        "wires": [
            [
                "3b7064972c981e0d"
            ]
        ]
    },
    {
        "id": "3b7064972c981e0d",
        "type": "function",
        "z": "905c94febbc42e67",
        "g": "a78351c804ce78a7",
        "name": "JWT Decoder",
        "func": "const token=flow.get('Enphase_local_token');\n    const payload = token.split('.')[1];\n    const decodedPayload = JSON.parse(Buffer.from(payload, 'base64').toString());\n    msg.payload = {\n        serialNumber: decodedPayload.aud,\n        issuer: decodedPayload.iss,\n        userType: decodedPayload.enphaseUser,\n        expirationDate: new Date(decodedPayload.exp * 1000).toLocaleString(),\n        createdAt: new Date(decodedPayload.iat * 1000).toLocaleString(),\n        jti: decodedPayload.jti,\n        username: decodedPayload.username\n    };\n    return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1220,
        "wires": [
            [
                "cbc5aacfe7c31bb6"
            ]
        ]
    },
    {
        "id": "cbc5aacfe7c31bb6",
        "type": "debug",
        "z": "905c94febbc42e67",
        "g": "a78351c804ce78a7",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 1220,
        "wires": []
    },
    {
        "id": "7044fad7b810abcd",
        "type": "comment",
        "z": "905c94febbc42e67",
        "g": "a78351c804ce78a7",
        "name": "Source",
        "info": "https://enever.nl/geldigheid-van-een-enphase-access-token-controleren/",
        "x": 170,
        "y": 1160,
        "wires": []
    },
    {
        "id": "2fc8886c5dbd015b",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-time-switch": "1.1.7"
        }
    }
]
