flow.json
[
    {
        "id": "351f3381df38c0f3",
        "type": "group",
        "z": "905c94febbc42e67",
        "name": "Read envoy ",
        "style": {
            "label": true,
            "fill": "#bfdbef"
        },
        "nodes": [
            "813e886ac1b700f7",
            "57516bafab82057b",
            "06b3b408436960c9",
            "a3c4125c716e9790",
            "7c8b8c70988ddeb8",
            "1e957bfb126b3d4e",
            "20a6db6d5596792a"
        ],
        "x": 94,
        "y": 93,
        "w": 2146.5714263916016,
        "h": 955.4285888671875
    },
    {
        "id": "813e886ac1b700f7",
        "type": "comment",
        "z": "905c94febbc42e67",
        "g": "351f3381df38c0f3",
        "name": "Connection to envoy failed. Request new sessionId",
        "info": "",
        "x": 418.57142639160156,
        "y": 601.4285888671875,
        "wires": []
    },
    {
        "id": "57516bafab82057b",
        "type": "comment",
        "z": "905c94febbc42e67",
        "g": "351f3381df38c0f3",
        "name": "Feed the received sessionId back",
        "info": "",
        "x": 858.5714263916016,
        "y": 601.4285888671875,
        "wires": []
    },
    {
        "id": "06b3b408436960c9",
        "type": "group",
        "z": "905c94febbc42e67",
        "g": "351f3381df38c0f3",
        "name": "Login to Envoy with token to obtain sessionId",
        "style": {
            "fill": "#ffdf7f",
            "label": true
        },
        "nodes": [
            "2479611c2a0f3150",
            "f804c9c99201b2a3",
            "39dc35c82726a8e0",
            "fd80c391e7f54c68"
        ],
        "x": 122.57142639160156,
        "y": 640.4285888671875,
        "w": 852,
        "h": 82
    },
    {
        "id": "2479611c2a0f3150",
        "type": "switch",
        "z": "905c94febbc42e67",
        "g": "06b3b408436960c9",
        "name": "HTTP status code=200",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 638.5714263916016,
        "y": 681.4285888671875,
        "wires": [
            [
                "f804c9c99201b2a3"
            ],
            [
                "07587899caea0de0"
            ]
        ],
        "outputLabels": [
            "sessionID obtained",
            "error"
        ],
        "info": "When the envoy accepted the token it returns HTTP status code 200"
    },
    {
        "id": "f804c9c99201b2a3",
        "type": "change",
        "z": "905c94febbc42e67",
        "g": "06b3b408436960c9",
        "name": "save sessionID",
        "rules": [
            {
                "t": "set",
                "p": "sessionId",
                "pt": "flow",
                "to": "responseCookies.sessionId.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 868.5714263916016,
        "y": 681.4285888671875,
        "wires": [
            [
                "f37df996be12fd81"
            ]
        ]
    },
    {
        "id": "39dc35c82726a8e0",
        "type": "http request",
        "z": "905c94febbc42e67",
        "g": "06b3b408436960c9",
        "name": "auth/check_jwt",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://{{{envoyaddress}}}/auth/check_jwt",
        "tls": "f03098b9a0460f11",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Accept",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            },
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "other",
                "valueValue": "application/x-www-form-urlencoded"
            },
            {
                "keyType": "Cache-Control",
                "keyValue": "",
                "valueType": "no-cache",
                "valueValue": ""
            },
            {
                "keyType": "Authorization",
                "keyValue": "",
                "valueType": "msg",
                "valueValue": "authorization"
            }
        ],
        "x": 428.57142639160156,
        "y": 681.4285888671875,
        "wires": [
            [
                "2479611c2a0f3150"
            ]
        ],
        "info": "Envoy returns a sessionId when the Bearer token is accepted. The sessionId can be used to make API calls"
    },
    {
        "id": "fd80c391e7f54c68",
        "type": "function",
        "z": "905c94febbc42e67",
        "g": "06b3b408436960c9",
        "name": "set authorization",
        "func": "msg.authorization = \"Bearer \" + (msg.token||flow.get('Enphase_local_token'));\n\n// Set node status to show date time last called into action\nlet d=new Date();\nnode.status({text:d.toISOString().split('T')[0]+\" \"+d.toTimeString().split(\" \")[0]});\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 238.57142639160156,
        "y": 681.4285888671875,
        "wires": [
            [
                "39dc35c82726a8e0"
            ]
        ]
    },
    {
        "id": "f03098b9a0460f11",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "a3c4125c716e9790",
        "type": "group",
        "z": "905c94febbc42e67",
        "g": "351f3381df38c0f3",
        "name": "Read Envoy using sessionId",
        "style": {
            "fill": "#c8e7a7",
            "label": true
        },
        "nodes": [
            "1fcda1179af1491f",
            "f0df4fdaba802dc8",
            "7b870980f8b7c8dc",
            "d37d7b9c4fd85807",
            "af2e091e3afe2a62",
            "5989ae16fc634c1a",
            "cae0cfc8f7ddd307",
            "1cdae3f8ed4ca9aa",
            "922dce4ef02240e0",
            "c8bfe7163b551225",
            "5a872cdec8eb0607",
            "cafe254503f4f0be",
            "a0b6773bcabe207e",
            "407ca72d01d6daed",
            "f37df996be12fd81",
            "73abf76df46db5f0",
            "44a8f04441ec859e",
            "ecf4fd1c520bb3ad",
            "199bd00a18a19a08",
            "9bef999ca6abb23e",
            "d55e19078ed82bb4",
            "fd9d0b5a2b3402a4"
        ],
        "x": 122.57142639160156,
        "y": 200.4285888671875,
        "w": 2092,
        "h": 362
    },
    {
        "id": "1fcda1179af1491f",
        "type": "http request",
        "z": "905c94febbc42e67",
        "g": "a3c4125c716e9790",
        "name": "production.json",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://{{{envoyaddress}}}/production.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1568.5714263916016,
        "y": 461.4285888671875,
        "wires": [
            [
                "cae0cfc8f7ddd307",
                "d37d7b9c4fd85807"
            ]
        ]
    },
    {
        "id": "f0df4fdaba802dc8",
        "type": "inject",
        "z": "905c94febbc42e67",
        "g": "a3c4125c716e9790",
        "name": "Envoy address",
        "props": [
            {
                "p": "envoyaddress",
                "v": "envoyaddress",
                "vt": "flow"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "x": 248.57142639160156,
        "y": 401.4285888671875,
        "wires": [
            [
                "922dce4ef02240e0"
            ]
        ]
    },
    {
        "id": "7b870980f8b7c8dc",
        "type": "switch",
        "z": "905c94febbc42e67",
        "g": "a3c4125c716e9790",
        "name": "HTTP status code=200",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1218.5714263916016,
        "y": 401.4285888671875,
        "wires": [
            [
                "1fcda1179af1491f",
                "5989ae16fc634c1a",
                "44a8f04441ec859e",
                "199bd00a18a19a08",
                "9bef999ca6abb23e"
            ],
            [
                "fd80c391e7f54c68"
            ]
        ],
        "outputLabels": [
            "succes",
            "error"
        ],
        "info": "When the envoy accepted the token it returns HTTP status code 200"
    },
    {
        "id": "d37d7b9c4fd85807",
        "type": "rbe",
        "z": "905c94febbc42e67",
        "g": "a3c4125c716e9790",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 1758.5714263916016,
        "y": 461.4285888671875,
        "wires": [
            [
                "c8bfe7163b551225"
            ]
        ]
    },
    {
        "id": "af2e091e3afe2a62",
        "type": "rbe",
        "z": "905c94febbc42e67",
        "g": "a3c4125c716e9790",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 1958.5714263916016,
        "y": 521.4285888671875,
        "wires": [
            [
                "5a872cdec8eb0607"
            ]
        ]
    },
    {
        "id": "5989ae16fc634c1a",
        "type": "rbe",
        "z": "905c94febbc42e67",
        "g": "a3c4125c716e9790",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 1538.5714263916016,
        "y": 401.4285888671875,
        "wires": [
            [
                "1cdae3f8ed4ca9aa"
            ]
        ]
    },
    {
        "id": "cae0cfc8f7ddd307",
        "type": "http request",
        "z": "905c94febbc42e67",
        "g": "a3c4125c716e9790",
        "name": "api/v1/production",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://{{{envoyaddress}}}/api/v1/production",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1798.5714263916016,
        "y": 521.4285888671875,
        "wires": [
            [
                "af2e091e3afe2a62"
            ]
        ]
    },
    {
        "id": "1cdae3f8ed4ca9aa",
        "type": "debug",
        "z": "905c94febbc42e67",
        "g": "a3c4125c716e9790",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1728.5714263916016,
        "y": 401.4285888671875,
        "wires": []
    },
    {
        "id": "922dce4ef02240e0",
        "type": "time-switch",
        "z": "905c94febbc42e67",
        "g": "a3c4125c716e9790",
        "name": "",
        "lat": "0",
        "lon": "0",
        "startTime": "sunrise",
        "endTime": "dusk",
        "startOffset": "",
        "endOffset": "",
        "x": 428.57142639160156,
        "y": 401.4285888671875,
        "wires": [
            [
                "f37df996be12fd81"
            ],
            []
        ]
    },
    {
        "id": "c8bfe7163b551225",
        "type": "debug",
        "z": "905c94febbc42e67",
        "g": "a3c4125c716e9790",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1928.5714263916016,
        "y": 461.4285888671875,
        "wires": []
    },
    {
        "id": "5a872cdec8eb0607",
        "type": "debug",
        "z": "905c94febbc42e67",
        "g": "a3c4125c716e9790",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2108.5714263916016,
        "y": 521.4285888671875,
        "wires": []
    },
    {
        "id": "cafe254503f4f0be",
        "type": "comment",
        "z": "905c94febbc42e67",
        "g": "a3c4125c716e9790",
        "name": "Source2",
        "info": "https://support.enphase.com/s/question/0D53m00008ketz6CAA/i-have-a-new-enphase-system-and-reading-my-envoy-using-the-local-api-this-goes-well-for-one-endpoint-but-not-for-another?t=1678709630042\n\nBased on post:\nKneib_3226\nEdited February 24, 2023 at 10:35 AM",
        "x": 368.57142639160156,
        "y": 321.4285888671875,
        "wires": []
    },
    {
        "id": "a0b6773bcabe207e",
        "type": "comment",
        "z": "905c94febbc42e67",
        "g": "a3c4125c716e9790",
        "name": "Source1",
        "info": "https://github.com/H4nsie/EnphaseEnvoy/blob/main/plugin.py",
        "x": 228.57142639160156,
        "y": 321.4285888671875,
        "wires": []
    },
    {
        "id": "407ca72d01d6daed",
        "type": "comment",
        "z": "905c94febbc42e67",
        "g": "a3c4125c716e9790",
        "name": "Source3",
        "info": "https://enphase.com/download/iq-gateway-local-apis-or-ui-access-using-token",
        "x": 508.57142639160156,
        "y": 321.4285888671875,
        "wires": []
    },
    {
        "id": "f37df996be12fd81",
        "type": "change",
        "z": "905c94febbc42e67",
        "g": "a3c4125c716e9790",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "cookies",
                "pt": "msg",
                "to": "{\"sessionId\": ($exists($flowContext('sessionId')) ? $flowContext('sessionId') : 0)}\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "rejectUnauthorized",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 688.5714263916016,
        "y": 401.4285888671875,
        "wires": [
            [
                "73abf76df46db5f0"
            ]
        ]
    },
    {
        "id": "73abf76df46db5f0",
        "type": "http request",
        "z": "905c94febbc42e67",
        "g": "a3c4125c716e9790",
        "name": "api/v1/production/inverters",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://{{{envoyaddress}}}/api/v1/production/inverters",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Accept",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            },
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "other",
                "valueValue": "application/x-www-form-urlencoded"
            },
            {
                "keyType": "Cache-Control",
                "keyValue": "",
                "valueType": "no-cache",
                "valueValue": ""
            }
        ],
        "x": 948.5714263916016,
        "y": 401.4285888671875,
        "wires": [
            [
                "7b870980f8b7c8dc"
            ]
        ]
    },
    {
        "id": "44a8f04441ec859e",
        "type": "http request",
        "z": "905c94febbc42e67",
        "g": "a3c4125c716e9790",
        "name": "ivp/pdm/energy",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://{{{envoyaddress}}}/ivp/pdm/energy",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Accept",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            },
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "other",
                "valueValue": "application/x-www-form-urlencoded"
            },
            {
                "keyType": "Cache-Control",
                "keyValue": "",
                "valueType": "no-cache",
                "valueValue": ""
            }
        ],
        "x": 1568.5714263916016,
        "y": 341.4285888671875,
        "wires": [
            [
                "ecf4fd1c520bb3ad"
            ]
        ]
    },
    {
        "id": "ecf4fd1c520bb3ad",
        "type": "debug",
        "z": "905c94febbc42e67",
        "g": "a3c4125c716e9790",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1848.5714263916016,
        "y": 321.4285888671875,
        "wires": []
    },
    {
        "id": "199bd00a18a19a08",
        "type": "http request",
        "z": "905c94febbc42e67",
        "g": "a3c4125c716e9790",
        "name": "ivp/meters",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://{{{envoyaddress}}}/ivp/meters",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Accept",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            },
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "other",
                "valueValue": "application/x-www-form-urlencoded"
            },
            {
                "keyType": "Cache-Control",
                "keyValue": "",
                "valueType": "no-cache",
                "valueValue": ""
            }
        ],
        "x": 1558.5714263916016,
        "y": 301.4285888671875,
        "wires": [
            [
                "d55e19078ed82bb4"
            ]
        ]
    },
    {
        "id": "9bef999ca6abb23e",
        "type": "http request",
        "z": "905c94febbc42e67",
        "g": "a3c4125c716e9790",
        "name": "ivp/ensemble/device_list",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://{{{envoyaddress}}}/ivp/ensemble/device_list",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Accept",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            },
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "other",
                "valueValue": "application/x-www-form-urlencoded"
            },
            {
                "keyType": "Cache-Control",
                "keyValue": "",
                "valueType": "no-cache",
                "valueValue": ""
            }
        ],
        "x": 1598.5714263916016,
        "y": 261.4285888671875,
        "wires": [
            [
                "fd9d0b5a2b3402a4"
            ]
        ]
    },
    {
        "id": "d55e19078ed82bb4",
        "type": "debug",
        "z": "905c94febbc42e67",
        "g": "a3c4125c716e9790",
        "name": "debug 8",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1848.5714263916016,
        "y": 281.4285888671875,
        "wires": []
    },
    {
        "id": "fd9d0b5a2b3402a4",
        "type": "debug",
        "z": "905c94febbc42e67",
        "g": "a3c4125c716e9790",
        "name": "debug 7",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1848.5714263916016,
        "y": 241.4285888671875,
        "wires": []
    },
    {
        "id": "7c8b8c70988ddeb8",
        "type": "group",
        "z": "905c94febbc42e67",
        "g": "351f3381df38c0f3",
        "name": "Request token from Enphase",
        "style": {
            "fill": "#ffbfbf",
            "label": true
        },
        "nodes": [
            "07587899caea0de0",
            "1299883c8afe38ce",
            "6795b049999a601e",
            "5bb0e47b3448324c",
            "e35bb79b1a6ad68b",
            "2fd4172d0b60e371",
            "2bb40c61f30af755"
        ],
        "x": 122.57142639160156,
        "y": 780.4285888671875,
        "w": 923.4285736083984,
        "h": 242
    },
    {
        "id": "07587899caea0de0",
        "type": "function",
        "z": "905c94febbc42e67",
        "g": "7c8b8c70988ddeb8",
        "name": "Limit request rate to twice a day",
        "func": "var interval = (1000*60*60*12); // minimum interval between messages (ms)\nvar lastReleased = context.get('LastTime') || 0;\nvar now = Date.now();\n\n// Set node status to show date time last called into action\nlet d=new Date();\nnode.status({text:d.toISOString().split('T')[0]+\" \"+d.toTimeString().split(\" \")[0]});\n\nif (now-lastReleased > interval) {\n  context.set('LastTime',now);\n  return msg;\n} else {\n  return null;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 278.57142639160156,
        "y": 921.4285888671875,
        "wires": [
            [
                "a9fe9c6d6e7a2dcc"
            ]
        ],
        "info": "https://flows.nodered.org/flow/9410e4cebcc4b68fae73"
    },
    {
        "id": "1299883c8afe38ce",
        "type": "junction",
        "z": "905c94febbc42e67",
        "g": "7c8b8c70988ddeb8",
        "x": 148.57142639160156,
        "y": 921.4285888671875,
        "wires": [
            []
        ]
    },
    {
        "id": "6795b049999a601e",
        "type": "change",
        "z": "905c94febbc42e67",
        "g": "7c8b8c70988ddeb8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Enphase_local_token",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 920,
        "wires": [
            [
                "fd80c391e7f54c68"
            ]
        ]
    },
    {
        "id": "5bb0e47b3448324c",
        "type": "comment",
        "z": "905c94febbc42e67",
        "g": "7c8b8c70988ddeb8",
        "name": "Login to Envoy has failed. Request new token from Enphase",
        "info": "",
        "x": 388.57142639160156,
        "y": 821.4285888671875,
        "wires": []
    },
    {
        "id": "e35bb79b1a6ad68b",
        "type": "inject",
        "z": "905c94febbc42e67",
        "g": "7c8b8c70988ddeb8",
        "name": "Daily request",
        "props": [
            {
                "p": "envoyaddress",
                "v": "envoyaddress",
                "vt": "flow"
            }
        ],
        "repeat": "",
        "crontab": "00 04 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 248.57142639160156,
        "y": 981.4285888671875,
        "wires": [
            [
                "a9fe9c6d6e7a2dcc"
            ]
        ],
        "info": "Daily new token request"
    },
    {
        "id": "2fd4172d0b60e371",
        "type": "comment",
        "z": "905c94febbc42e67",
        "g": "7c8b8c70988ddeb8",
        "name": "Feed the received token back",
        "info": "",
        "x": 860,
        "y": 840,
        "wires": []
    },
    {
        "id": "2bb40c61f30af755",
        "type": "group",
        "z": "905c94febbc42e67",
        "g": "7c8b8c70988ddeb8",
        "name": "home user credentials",
        "style": {
            "fill": "#ffff00",
            "label": true
        },
        "nodes": [
            "a9fe9c6d6e7a2dcc"
        ],
        "x": 454,
        "y": 879,
        "w": 272,
        "h": 82
    },
    {
        "id": "bf1c3fa33b54af54",
        "type": "subflow",
        "name": "Get token from Enphase",
        "info": "# Input\n\nRequired Input is:\n Enphase login details:\n    1. **username**: home user/diy or installer loginname \n    2. **password**\n \n**envoyaddress**: ip address of gateway, should be provided via msg.envoyaddress\n\n# Output\n**token**: JWT token",
        "category": "",
        "in": [
            {
                "x": 300,
                "y": 320,
                "wires": [
                    {
                        "id": "18a574ab1d8f0b5f"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 3240,
                "y": 320,
                "wires": [
                    {
                        "id": "e22bc03c69c4807e",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "username",
                "type": "str",
                "value": "mail@example.com"
            },
            {
                "name": "password",
                "type": "cred"
            }
        ],
        "meta": {},
        "color": "#DDAA99",
        "status": {
            "x": 3240,
            "y": 580,
            "wires": [
                {
                    "id": "4dc8b8daa614bb59",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "b4555c3b98173f70",
        "type": "switch",
        "z": "bf1c3fa33b54af54",
        "g": "182da06747516f67",
        "name": "HTTP status code=200",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 2510,
        "y": 320,
        "wires": [
            [
                "1f6deede7d890c88",
                "e22bc03c69c4807e"
            ],
            [
                "7efa41ab90d4900e"
            ]
        ],
        "outputLabels": [
            "success",
            "error"
        ],
        "info": "When the envoy accepted the token it returns HTTP status code 200"
    },
    {
        "id": "920ddb5802e87c84",
        "type": "http request",
        "z": "bf1c3fa33b54af54",
        "g": "182da06747516f67",
        "name": "entrez.enphaseenergy.com/tokens",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://entrez.enphaseenergy.com/tokens",
        "tls": "f03098b9a0460f11",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "User-Agent",
                "keyValue": "",
                "valueType": "Mozilla/5.0",
                "valueValue": ""
            }
        ],
        "x": 2240,
        "y": 320,
        "wires": [
            [
                "b4555c3b98173f70"
            ]
        ]
    },
    {
        "id": "adfbc0ad5e2e8da1",
        "type": "change",
        "z": "bf1c3fa33b54af54",
        "g": "182da06747516f67",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"session_id\": msg.payload.session_id,\t    \"serial_num\": msg.serialnumber,\t    \"username\": $env(\"username\")\t}",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "serialnumber",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1980,
        "y": 320,
        "wires": [
            [
                "920ddb5802e87c84"
            ]
        ]
    },
    {
        "id": "ac520302efeb6bf9",
        "type": "switch",
        "z": "bf1c3fa33b54af54",
        "g": "d3d63be3ec7c797d",
        "name": "HTTP status code=200",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1710,
        "y": 320,
        "wires": [
            [
                "adfbc0ad5e2e8da1"
            ],
            [
                "812fb99537740693"
            ]
        ],
        "outputLabels": [
            "success",
            "error"
        ],
        "info": "When the envoy accepted the token it returns HTTP status code 200"
    },
    {
        "id": "528d0b0c2401c5ea",
        "type": "http request",
        "z": "bf1c3fa33b54af54",
        "g": "d3d63be3ec7c797d",
        "name": "enlighten.enphaseenergy.com/login/login.json",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://enlighten.enphaseenergy.com/login/login.json",
        "tls": "f03098b9a0460f11",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "User-Agent",
                "keyValue": "",
                "valueType": "Mozilla/5.0",
                "valueValue": ""
            },
            {
                "keyType": "Accept",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            },
            {
                "keyType": "Cache-Control",
                "keyValue": "",
                "valueType": "no-cache",
                "valueValue": ""
            },
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "other",
                "valueValue": "application/x-www-form-urlencoded"
            }
        ],
        "x": 1400,
        "y": 320,
        "wires": [
            [
                "ac520302efeb6bf9"
            ]
        ]
    },
    {
        "id": "c11827b23ad15cf4",
        "type": "change",
        "z": "bf1c3fa33b54af54",
        "g": "d3d63be3ec7c797d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "serialnumber",
                "pt": "msg",
                "to": "payload.envoy_info.device[0].sn[0]",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"user[email]\": $env(\"username\"),\t    \"user[password]\": $env(\"password\")\t}",
                "tot": "jsonata"
            },
            {
                "t": "delete",
                "p": "url",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 320,
        "wires": [
            [
                "528d0b0c2401c5ea"
            ]
        ]
    },
    {
        "id": "fcfb229fd70b4ba1",
        "type": "xml",
        "z": "bf1c3fa33b54af54",
        "g": "39ca123fb399a779",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 890,
        "y": 320,
        "wires": [
            [
                "c11827b23ad15cf4"
            ]
        ]
    },
    {
        "id": "8925197352539aaa",
        "type": "switch",
        "z": "bf1c3fa33b54af54",
        "g": "39ca123fb399a779",
        "name": "HTTP status code=200",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 690,
        "y": 320,
        "wires": [
            [
                "fcfb229fd70b4ba1"
            ],
            [
                "c84f0dd48d8cafde"
            ]
        ],
        "outputLabels": [
            "success",
            "error"
        ],
        "info": "When the envoy accepted the token it returns HTTP status code 200"
    },
    {
        "id": "18a574ab1d8f0b5f",
        "type": "http request",
        "z": "bf1c3fa33b54af54",
        "g": "39ca123fb399a779",
        "name": "info.xml",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://{{{envoyaddress}}}/info.xml",
        "tls": "f03098b9a0460f11",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 480,
        "y": 320,
        "wires": [
            [
                "8925197352539aaa"
            ]
        ]
    },
    {
        "id": "812fb99537740693",
        "type": "change",
        "z": "bf1c3fa33b54af54",
        "g": "bf1f18f7b74c940c",
        "name": "Status: Error logging in",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fill\":\"red\",\"shape\":\"ring\",\"text\":\"Error logging in\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1980,
        "y": 520,
        "wires": [
            [
                "4dc8b8daa614bb59"
            ]
        ]
    },
    {
        "id": "c84f0dd48d8cafde",
        "type": "change",
        "z": "bf1c3fa33b54af54",
        "g": "bf1f18f7b74c940c",
        "name": "Status: Error reaching info.xml",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fill\":\"red\",\"shape\":\"ring\",\"text\":\"Error reaching info.xml\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 520,
        "wires": [
            [
                "4dc8b8daa614bb59"
            ]
        ]
    },
    {
        "id": "7efa41ab90d4900e",
        "type": "change",
        "z": "bf1c3fa33b54af54",
        "g": "bf1f18f7b74c940c",
        "name": "Status: Error retreiving token",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fill\":\"red\",\"shape\":\"ring\",\"text\":\"Error retreiving token\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2800,
        "y": 520,
        "wires": [
            [
                "4dc8b8daa614bb59"
            ]
        ]
    },
    {
        "id": "1f6deede7d890c88",
        "type": "change",
        "z": "bf1c3fa33b54af54",
        "g": "182da06747516f67",
        "name": "Status: token retreived",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"fill\":\"green\",\"shape\":\"dot\",\"text\":\"token retreived\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2800,
        "y": 380,
        "wires": [
            [
                "4dc8b8daa614bb59"
            ]
        ]
    },
    {
        "id": "4dc8b8daa614bb59",
        "type": "function",
        "z": "bf1c3fa33b54af54",
        "g": "bf1f18f7b74c940c",
        "name": "add time",
        "func": "let d=new Date();\n\nmsg.payload.text= d.toISOString().split('T')[0]+\" \"+d.toTimeString().split(\" \")[0] +\"; \" + msg.payload.text;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3100,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "e22bc03c69c4807e",
        "type": "change",
        "z": "bf1c3fa33b54af54",
        "g": "182da06747516f67",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "token",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "statusCode",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "responseUrl",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "redirectList",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "retry",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "responseCookies",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "headers",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2780,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "39ca123fb399a779",
        "type": "group",
        "z": "bf1c3fa33b54af54",
        "name": "Get gateway serialnumber",
        "style": {
            "label": true,
            "fill": "#ffffbf"
        },
        "nodes": [
            "18a574ab1d8f0b5f",
            "8925197352539aaa",
            "fcfb229fd70b4ba1"
        ],
        "x": 394,
        "y": 279,
        "w": 572,
        "h": 82
    },
    {
        "id": "d3d63be3ec7c797d",
        "type": "group",
        "z": "bf1c3fa33b54af54",
        "name": "Login to enphase to obtain sessionID",
        "style": {
            "label": true,
            "fill": "#e3f3d3"
        },
        "nodes": [
            "c11827b23ad15cf4",
            "528d0b0c2401c5ea",
            "ac520302efeb6bf9"
        ],
        "x": 994,
        "y": 279,
        "w": 852,
        "h": 82
    },
    {
        "id": "182da06747516f67",
        "type": "group",
        "z": "bf1c3fa33b54af54",
        "name": "Request token",
        "style": {
            "label": true,
            "fill": "#bfdbef"
        },
        "nodes": [
            "adfbc0ad5e2e8da1",
            "920ddb5802e87c84",
            "b4555c3b98173f70",
            "1f6deede7d890c88",
            "e22bc03c69c4807e"
        ],
        "x": 1874,
        "y": 279,
        "w": 1052,
        "h": 142
    },
    {
        "id": "bf1f18f7b74c940c",
        "type": "group",
        "z": "bf1c3fa33b54af54",
        "name": "Status collection",
        "style": {
            "fill": "#d1d1d1",
            "label": true
        },
        "nodes": [
            "c84f0dd48d8cafde",
            "812fb99537740693",
            "7efa41ab90d4900e",
            "4dc8b8daa614bb59"
        ],
        "x": 834,
        "y": 479,
        "w": 2352,
        "h": 142
    },
    {
        "id": "a9fe9c6d6e7a2dcc",
        "type": "subflow:bf1c3fa33b54af54",
        "z": "905c94febbc42e67",
        "g": "2bb40c61f30af755",
        "name": "",
        "x": 590,
        "y": 920,
        "wires": [
            [
                "6795b049999a601e"
            ]
        ]
    },
    {
        "id": "1e957bfb126b3d4e",
        "type": "inject",
        "z": "905c94febbc42e67",
        "g": "351f3381df38c0f3",
        "name": "Init",
        "props": [],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "b2b1a513f996a939"
            ]
        ]
    },
    {
        "id": "20a6db6d5596792a",
        "type": "group",
        "z": "905c94febbc42e67",
        "g": "351f3381df38c0f3",
        "name": "",
        "style": {
            "fill": "#ffff00",
            "label": true
        },
        "nodes": [
            "b2b1a513f996a939"
        ],
        "x": 234,
        "y": 119,
        "w": 272,
        "h": 82
    },
    {
        "id": "b2b1a513f996a939",
        "type": "change",
        "z": "905c94febbc42e67",
        "g": "20a6db6d5596792a",
        "name": "Set gateway ip-address",
        "rules": [
            {
                "t": "set",
                "p": "envoyaddress",
                "pt": "flow",
                "to": "10.0.40.11",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "a78351c804ce78a7",
        "type": "group",
        "z": "905c94febbc42e67",
        "name": "Decode JWT token",
        "style": {
            "label": true
        },
        "nodes": [
            "97f390218231909c",
            "3b7064972c981e0d",
            "cbc5aacfe7c31bb6",
            "7044fad7b810abcd"
        ],
        "x": 94,
        "y": 1239,
        "w": 532,
        "h": 142
    },
    {
        "id": "97f390218231909c",
        "type": "inject",
        "z": "905c94febbc42e67",
        "g": "a78351c804ce78a7",
        "name": "Start",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 1340,
        "wires": [
            [
                "3b7064972c981e0d"
            ]
        ]
    },
    {
        "id": "3b7064972c981e0d",
        "type": "function",
        "z": "905c94febbc42e67",
        "g": "a78351c804ce78a7",
        "name": "JWT Decoder",
        "func": "const token=flow.get('Enphase_local_token');\n    const payload = token.split('.')[1];\n    const decodedPayload = JSON.parse(Buffer.from(payload, 'base64').toString());\n    msg.payload = {\n        serialNumber: decodedPayload.aud,\n        issuer: decodedPayload.iss,\n        userType: decodedPayload.enphaseUser,\n        expirationDate: new Date(decodedPayload.exp * 1000).toLocaleString(),\n        createdAt: new Date(decodedPayload.iat * 1000).toLocaleString(),\n        jti: decodedPayload.jti,\n        username: decodedPayload.username\n    };\n    return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1340,
        "wires": [
            [
                "cbc5aacfe7c31bb6"
            ]
        ]
    },
    {
        "id": "cbc5aacfe7c31bb6",
        "type": "debug",
        "z": "905c94febbc42e67",
        "g": "a78351c804ce78a7",
        "name": "Result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 1340,
        "wires": []
    },
    {
        "id": "7044fad7b810abcd",
        "type": "comment",
        "z": "905c94febbc42e67",
        "g": "a78351c804ce78a7",
        "name": "Source",
        "info": "https://enever.nl/geldigheid-van-een-enphase-access-token-controleren/",
        "x": 170,
        "y": 1280,
        "wires": []
    },
    {
        "id": "734e1b2d76641cd8",
        "type": "group",
        "z": "905c94febbc42e67",
        "name": "Enable/disable power production (it may take up to 30min before becoming effective)",
        "style": {
            "fill": "#d1d1d1",
            "label": true
        },
        "nodes": [
            "26cf7612857cac94",
            "8cf78199e6f60b67",
            "2a51f0fd6fe60fd7",
            "c390b6005062dbf0",
            "e9e9f4627860f662",
            "77a86abf64da8555",
            "36872f023185a853"
        ],
        "x": 94,
        "y": 1073,
        "w": 1472,
        "h": 134
    },
    {
        "id": "26cf7612857cac94",
        "type": "debug",
        "z": "905c94febbc42e67",
        "g": "734e1b2d76641cd8",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1460,
        "y": 1140,
        "wires": []
    },
    {
        "id": "8cf78199e6f60b67",
        "type": "change",
        "z": "905c94febbc42e67",
        "g": "734e1b2d76641cd8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "authorization",
                "pt": "msg",
                "to": "\"Bearer \" & token",
                "tot": "jsonata"
            },
            {
                "t": "move",
                "p": "command",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "token",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 1140,
        "wires": [
            [
                "e9e9f4627860f662"
            ]
        ]
    },
    {
        "id": "2a51f0fd6fe60fd7",
        "type": "inject",
        "z": "905c94febbc42e67",
        "g": "734e1b2d76641cd8",
        "name": "Enable power production",
        "props": [
            {
                "p": "command",
                "v": "{\"length\":1,\"arr\":[0]}",
                "vt": "jsonata"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 250,
        "y": 1120,
        "wires": [
            [
                "36872f023185a853"
            ]
        ]
    },
    {
        "id": "c390b6005062dbf0",
        "type": "inject",
        "z": "905c94febbc42e67",
        "g": "734e1b2d76641cd8",
        "name": "Disable power production",
        "props": [
            {
                "p": "command",
                "v": "{\"length\":1,\"arr\":[1]}",
                "vt": "jsonata"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 250,
        "y": 1160,
        "wires": [
            [
                "36872f023185a853"
            ]
        ]
    },
    {
        "id": "e9e9f4627860f662",
        "type": "http request",
        "z": "905c94febbc42e67",
        "g": "734e1b2d76641cd8",
        "name": "/ivp/mod/603980032/mode/power",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://{{{envoyaddress}}}/ivp/mod/603980032/mode/power",
        "tls": "f03098b9a0460f11",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Accept",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            },
            {
                "keyType": "Cache-Control",
                "keyValue": "",
                "valueType": "no-cache",
                "valueValue": ""
            },
            {
                "keyType": "Authorization",
                "keyValue": "",
                "valueType": "msg",
                "valueValue": "authorization"
            }
        ],
        "x": 1220,
        "y": 1140,
        "wires": [
            [
                "26cf7612857cac94"
            ]
        ],
        "info": "Envoy returns a sessionId when the Bearer token is accepted. The sessionId can be used to make API calls"
    },
    {
        "id": "77a86abf64da8555",
        "type": "group",
        "z": "905c94febbc42e67",
        "g": "734e1b2d76641cd8",
        "name": "Installer credentials",
        "style": {
            "fill": "#ffff00",
            "label": true
        },
        "nodes": [
            "5b9b0420487e4e2c"
        ],
        "x": 594,
        "y": 1099,
        "w": 272,
        "h": 82
    },
    {
        "id": "5b9b0420487e4e2c",
        "type": "subflow:bf1c3fa33b54af54",
        "z": "905c94febbc42e67",
        "g": "77a86abf64da8555",
        "name": "",
        "env": [
            {
                "name": "username",
                "value": "installer_enphase@m.hesselink.eu",
                "type": "str"
            },
            {
                "name": "password",
                "type": "cred"
            }
        ],
        "x": 730,
        "y": 1140,
        "wires": [
            [
                "8cf78199e6f60b67"
            ]
        ]
    },
    {
        "id": "36872f023185a853",
        "type": "change",
        "z": "905c94febbc42e67",
        "g": "734e1b2d76641cd8",
        "name": "Add envoyaddress",
        "rules": [
            {
                "t": "set",
                "p": "envoyaddress",
                "pt": "msg",
                "to": "envoyaddress",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 1140,
        "wires": [
            [
                "5b9b0420487e4e2c"
            ]
        ]
    },
    {
        "id": "02eb5581ff6bf716",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-time-switch": "1.1.7"
        }
    }
]
